<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="cs" connectionString="Data Source=INF_4_07\\SQLPBG;Initial catalog=ednevnik410b;Integrated security=true"/>
  </connectionStrings>
</configuration>